* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
    width: 100%;
    margin: auto;
    text-align: center;
  }

body {
    font-family: 'Signika', sans-serif;
    
}

#img-block {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

#img-block div img {
    width: 150px;
}

h1 {
    margin: 30px;
    font-size: 60px;
    color: rgb(226, 18, 44)
}

.start-game-btn {
    font-size: 20px;
    margin-bottom: 30px;;
    padding: 10px 60px;
    border-radius: 5px;
}

.start-game-btn:hover {
    background-color:rgb(25, 171, 160);
}

.choice {
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(255, 153, 51);
}

#game-result {
    font-size: 50px;
    font-family: 'Signika', sans-serif;
    color: red;
    font-weight: 700;
}