* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    background-color: rgb(204, 204, 255);
    font-family: 'Signika', sans-serif;
    
}

h1 {
    margin: 30px;
    font-size: 80px;
    color: rgb(255, 128, 0)
}

#start-game-btn {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    margin: 0 0 30px 30px;
    padding: 10px 60px;
    border-radius: 5px;
}

#user-choice {
    margin-left: 30px;
    font-size: 40px;
    color: rgb(255, 153, 51);
}